body{
    text-align: left;
    color: white;
    background-color: blue;
}

.titulo {
    text-align: center;
    font-family: monospace;
    color: white;
}

.subtitulo {
    font-family: monospace;
    text-align: center;
}

.fotocidade{
    text-align: center;
}